//Fonte
$fontPrincipal: Roboto, sans-serif;

// esquema de cores
$corDeFundo: #f5f6fa;
$corPrincipal:#182C61;
$corSecundaria: #44bd32;
$corTerciaria: #fff;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;